/* Fuente global */
body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #f4f4f9;
  color: #222;
}

/* Contenedor principal */
.iniciar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  backdrop-filter: blur(10px); /* Difuminado elegante */
  padding: 2rem;
}

/* Tarjeta de inicio de sesión */
.iniciar-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Título */
.iniciar-title {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Descripción */
.iniciar-description {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* Campos del formulario */
.iniciar-input {
  width: 100%;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.iniciar-input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.iniciar-input:focus {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #3498db;
}

/* Botón de inicio de sesión */
.iniciar-button {
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(135deg, #146ea2, #1abc9c);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(72, 73, 73, 0.4);
}

.iniciar-button:hover {
  background: linear-gradient(135deg, #f04542, #d73c2c);
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(38, 48, 46, 0.5);
}

/* Enlace de registro */
.iniciar-register-text {
  font-size: 0.9rem;
  color: white;
}

.iniciar-register-link {
  color: #1abc9c;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.iniciar-register-link:hover {
  color: #16a085;
  text-decoration: underline;
}

/* Responsividad */
@media (max-width: 768px) {
  .iniciar-form {
      padding: 1.5rem;
  }

  .iniciar-title {
      font-size: 2rem;
  }

  .iniciar-description {
      font-size: 1rem;
  }

  .iniciar-input {
      font-size: 0.9rem;
  }

  .iniciar-button {
      font-size: 1rem;
  }
}